<manifest ...>
    <application
        android:label="flutter_app"
        android:icon="@mipmap/ic_launcher">
        
        <!-- 다른 설정들... -->

        <!-- Google Maps API Key 추가 -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyByKtKVxej-A3hIBZMeUJnIOn-3Ph6T9so"/>
    </application>
</manifest>
